<div class="well">
  <div>
    <%= label :description, "Descripción:" %>
    <%= @todo.description %>
  </div>
  <div>
  <%= label :completed, "Completado:" %>
  <%= @todo.completed %>
  </div>  
  <%= link_to 'Volver', todos_path, class:'btn btn-default' %>
</div>
